/* CSS Gridによるレイアウト */
.container {
  display: grid;
  min-height: 100%;
  grid-template:
    "visual number expression" 100vh
    "page-list page-list page-list" 1fr
    "footer footer footer" 100px /
    50% 120px 1fr;
}

.visual {
  grid-area: visual;
}

.number {
  grid-area: number;
}

.expression {
  grid-area: expression;
}

footer {
  grid-area: footer;
}

.page-list {
  grid-area: page-list;
  background-color: #f2f2f2;
  display: grid;
  padding: 40px;
  gap: 30px 20px;
  grid-template:
    repeat(3, auto) /
    repeat(4, minmax(auto, 330px));
  justify-content: center;
}

.item img {
  width: 100%;
}

@media (max-width: 800px) {
  .container {
    grid-template:
      "visual visual" 50vh
      "number expression" 50vh
      "page-list page-list" 1fr
      "footer footer" 100px /
      120px 1fr;
  }

  .page-list {
    grid-template:
      repeat(6, auto) /
      repeat(2, 1fr);
  }
}
